-----BEGIN CERTIFICATE-----
MIIF4DCCA8mgAwIBAgIJANLRQYJIgxIbMA0GCSqGSIb3DQEBCwUAMIGHMQswCQYD
VQQGEwJVUzEVMBMGA1UECAwMU291dGggRGFrb3RhMRQwEgYDVQQHDAtTaW91eCBG
YWxsczEWMBQGA1UECgwNT3BlbkFDSCwgSW5jLjESMBAGA1UEAwwJbG9jYWxob3N0
MR8wHQYJKoZIhvcNAQkBFhBpbmZvQG9wZW5hY2guY29tMB4XDTE3MDIxNjA1MDg0
NVoXDTE4MDIxNjA1MDg0NVowgYcxCzAJBgNVBAYTAlVTMRUwEwYDVQQIDAxTb3V0
aCBEYWtvdGExFDASBgNVBAcMC1Npb3V4IEZhbGxzMRYwFAYDVQQKDA1PcGVuQUNI
LCBJbmMuMRIwEAYDVQQDDAlsb2NhbGhvc3QxHzAdBgkqhkiG9w0BCQEWEGluZm9A
b3BlbmFjaC5jb20wggIgMA0GCSqGSIb3DQEBAQUAA4ICDQAwggIIAoIB/y7DMKbB
pHSb3aE4RnruK/Rpfk5h0RP5h6HWW5QbGo1E8MjhFPoHpLuM/xtT9QV9zVH7l8Rd
1Xx5jZ10muHstcl3tAVuIGsRh8UPTR0Jh0YWfKKJtRuUE6eYDVoDjj4zj0s7ZRWe
1pijggWOgzOARF5UIpGSTgEJJzsqZzWvP65bG9XblVKi6FSYz8TslZae1emykzOG
b90NV83KR6YbpkWHRGpK2b3jYSDYFt+fdPQANWJ/QvNBITVC9s0xnEEL3AExu7Ub
4xi4NkqSRaXUGeBZ88UG2agvgoG8xUfhZG9LigiRpr4tk7shoUWaumBEqlon6VS6
uOcV768kqvKLl/5YUgr2am/f30eCKusEwfctwjI4x80h8UoUXwelgHIEvsSYTyyY
42on44D5VY6XduwQw5UVk0qxDw6kprUIkmW3VJwdx4mCA8SFFi2wwk8MJZSmDONp
CLtsetI4j0DcfKJDnZ0bHTJAH6/MpLqcWSJKG4b6v4owuxKkk5dVLCjW9/rEDZAZ
r36hOaUB1vdX0k8n26jS63XGDtoJlDl38WthBP6d+yF1T4M/TL//6cegPvsprJmb
QMb7iwkKYrNUeYm8k6HQZ9GHIMiEeRkIZxPrf4lDwvr5qSC6nVGPQ6prmQPxsG0J
/zqhubdAlfoTfeCoU5sBhPzcQUYSfMISiEECAwEAAaNQME4wHQYDVR0OBBYEFDl3
ONClr0yGfEerjUFneLh1UorUMB8GA1UdIwQYMBaAFDl3ONClr0yGfEerjUFneLh1
UorUMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQELBQADggIAABcSyO2wYVTJC+nE
Vwai9fE9nuGoNejqmkiWCD5bnfQce53zZRw9AugGjFSooZYNfWWzb7sNuDSSEKGB
5231EvMAyL6lzXLn0fRQR7BYCmhXZMkyssloDsL3Un1AMhTw4vAU3yKSsysNac07
9gI5clI7gKhPR++MCmFwrP/NCOhOd/4Lj08+m2pG6JWuI17CTxOd/YeTKtSCeY86
biRrHZVW6b7Lls16BSznAtEuJbuJ1iEMyKzBmvzB0+B8L7uoEIBjgAfE3szznRvk
ODrBdLKAegNl9Ago1E0QOtDAZyxVm6dFPCJfX5JRcSd4dYEA/rtIMvN8Yso4bOXK
XzVQJrgRqd2iqLLKf/8YSJysiEjxaEx/7iOwsSp6r8a43KruOma3xZ9a2zFzBW23
itmluFFBAQleTMvM4MeorhZnicB2PYnL99SV5OAq0EfZmsPdOTFJHRQsHmIdvQxZ
2lEri99BP5pE3ueGEvqNDhKkL8wXj/mxwxOPCwGMozhqYbqeUAYe6N8XuxhvKEAR
eEFhuFHQgNDQeffpEbfPR6JBFUL+nZW6e/QI1wvE+1+I75+kYJdNy6JwnV2GBU1r
qyIRqlWSP6NYQFauOTeJumE83cf/kRLuoEFB+I3i59RI70y5i/OtrScUxudHlHfr
cyc7vusoZ4BKtwHRInvARMDG6Ww=
-----END CERTIFICATE-----
